.cnvs-button {
  box-sizing: border-box;
  font-family: var(--cnvs-sys-font-family-default);
  font-size: var(--cnvs-sys-font-size-subtext-lg, var(--cnvs-sys-font-size-subtext-large));
  line-height: var(--cnvs-sys-line-height-subtext-lg, var(--cnvs-sys-line-height-subtext-large));
  letter-spacing: var(--cnvs-sys-letter-spacing-subtext-lg, var(--cnvs-base-letter-spacing-150));
  font-weight: var(--cnvs-sys-font-weight-bold);
  background-color: var(--cnvs-button-color-prop-default-background, var(--cnvs-button-background, transparent));
  color: var(--cnvs-button-color-prop-default-label, var(--cnvs-button-label, var(--cnvs-sys-color-fg-strong)));
  border-width: 0.0625rem;
  border-style: solid;
  gap: var(--cnvs-sys-gap-sm, var(--cnvs-sys-space-x2));
  border-color: var(--cnvs-button-color-prop-default-border, var(--cnvs-button-border, transparent));
  cursor: pointer;
  display: inline-flex;
  box-shadow: none;
  align-items: center;
  justify-content: center;
  outline: 0.125rem transparent;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: var(--cnvs-button-color-prop-default-border-radius, var(--cnvs-button-border-radius, var(--cnvs-sys-shape-full, var(--cnvs-sys-shape-round))));
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, var(--cnvs-sys-color-fg-strong));
  transition: box-shadow 120ms linear,border 120ms linear,background-color 120ms linear,color 120ms linear;
}

.cnvs-button:disabled, .cnvs-button:disabled:active, .cnvs-button.disabled {
  cursor: default;
  box-shadow: none;
  opacity: var(--cnvs-button-color-prop-default-opacity, var(--cnvs-button-opacity, var(--cnvs-sys-opacity-full)));
}

.cnvs-button:focus-visible, .cnvs-button.focus {
  background-color: var(--cnvs-button-color-prop-focus-background, var(--cnvs-button-background, transparent));
  border-color: var(--cnvs-button-color-prop-focus-border, var(--cnvs-button-border, transparent));
  color: var(--cnvs-button-color-prop-focus-label, var(--cnvs-button-label, var(--cnvs-sys-color-fg-strong)));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-focus-icon, var(--cnvs-sys-color-fg-strong));
  outline: 0.125rem solid transparent;
  outline-offset: 0.125rem;
  box-shadow: 0 0 0 0.125rem var(--cnvs-button-color-prop-focus-box-shadow-inner, var(--cnvs-button-box-shadow-inner, var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0)))),0 0 0 0.25rem var(--cnvs-button-color-prop-focus-box-shadow-outer, var(--cnvs-button-box-shadow-outer, var(--cnvs-sys-color-brand-focus-primary, var(--cnvs-brand-common-focus-outline))));
}

.cnvs-button:hover, .cnvs-button.hover {
  background-color: var(--cnvs-button-color-prop-hover-background, var(--cnvs-button-background, var(--cnvs-sys-color-bg-contrast-strong)));
  border-color: var(--cnvs-button-color-prop-hover-border, var(--cnvs-button-border, transparent));
  color: var(--cnvs-button-color-prop-hover-label, var(--cnvs-button-label, var(--cnvs-sys-color-fg-stronger)));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-hover-icon, var(--cnvs-sys-color-fg-stronger));
}

.cnvs-button:hover:active {
  transition-duration: 40ms;
}

.cnvs-button:active, .cnvs-button.active {
  background-color: var(--cnvs-button-color-prop-active-background, var(--cnvs-button-background, transparent));
  border-color: var(--cnvs-button-color-prop-active-border, var(--cnvs-button-border, transparent));
  color: var(--cnvs-button-color-prop-active-label, var(--cnvs-button-label, var(--cnvs-sys-color-fg-strong)));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-active-icon, var(--cnvs-sys-color-fg-strong));
}

.cnvs-button:disabled, .cnvs-button.disabled {
  background-color: var(--cnvs-button-color-prop-disabled-background, var(--cnvs-button-background, transparent));
  border-color: var(--cnvs-button-color-prop-disabled-border, var(--cnvs-button-border, transparent));
  color: var(--cnvs-button-color-prop-disabled-label, var(--cnvs-button-label, var(--cnvs-sys-color-fg-strong)));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-disabled-icon, currentColor);
}

@media (prefers-contrast: more) {
.cnvs-button[aria-pressed="true"] {
  outline: 0.125rem solid transparent;
  outline-offset: -0.0625rem;
}

.cnvs-button[aria-pressed="true"]:focus-visible, .cnvs-button[aria-pressed="true"].focus {
  outline: 0.25rem double transparent;
  outline-offset: 0;
}


}

.cnvs-button svg {
  pointer-events: none;
}


.cnvs-button.size-large {
  font-size: var(--cnvs-sys-font-size-body-sm, var(--cnvs-sys-font-size-body-small));
  line-height: var(--cnvs-sys-line-height-body-sm, var(--cnvs-sys-line-height-body-small));
  letter-spacing: var(--cnvs-sys-letter-spacing-body-sm, var(--cnvs-base-letter-spacing-200));
  height: var(--cnvs-sys-size-lg, 3rem);
  padding-inline: var(--cnvs-sys-padding-xxl, var(--cnvs-sys-space-x8));
  min-width: var(--cnvs-base-size-1400, 7rem);
}


.cnvs-button.size-medium {
  font-size: var(--cnvs-sys-font-size-subtext-lg, var(--cnvs-sys-font-size-subtext-large));
  line-height: var(--cnvs-sys-line-height-subtext-lg, var(--cnvs-sys-line-height-subtext-large));
  letter-spacing: var(--cnvs-sys-letter-spacing-subtext-lg, var(--cnvs-base-letter-spacing-150));
  min-width: var(--cnvs-base-size-1200, 6rem);
  padding-inline: var(--cnvs-sys-padding-xl, var(--cnvs-sys-space-x6));
  height: var(--cnvs-sys-size-md, var(--cnvs-sys-space-x10));
}


.cnvs-button.size-small {
  font-size: var(--cnvs-sys-font-size-subtext-lg, var(--cnvs-sys-font-size-subtext-large));
  line-height: var(--cnvs-sys-line-height-subtext-lg, var(--cnvs-sys-line-height-subtext-large));
  letter-spacing: var(--cnvs-sys-letter-spacing-subtext-lg, var(--cnvs-base-letter-spacing-150));
  height: var(--cnvs-sys-size-sm, var(--cnvs-sys-space-x8));
  min-width: var(--cnvs-base-size-1000, var(--cnvs-sys-space-x20));
  padding-inline: var(--cnvs-sys-padding-md, var(--cnvs-sys-space-x4));
  gap: var(--cnvs-sys-gap-xs, var(--cnvs-sys-space-x1));
}


.cnvs-button.size-extra-small {
  font-size: var(--cnvs-sys-font-size-subtext-md, var(--cnvs-sys-font-size-subtext-medium));
  line-height: var(--cnvs-sys-line-height-subtext-md, var(--cnvs-sys-line-height-subtext-medium));
  letter-spacing: var(--cnvs-sys-letter-spacing-subtext-md, var(--cnvs-base-letter-spacing-100));
  height: var(--cnvs-sys-size-xs, var(--cnvs-sys-space-x6));
  min-width: auto;
  padding-inline: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
  gap: var(--cnvs-sys-gap-xs, var(--cnvs-sys-space-x1));
}


.cnvs-button.grow {
  width: 100%;
  max-width: 100%;
}


.cnvs-button.icon-position-only {
  padding: 0;
}




.cnvs-button.size-large.icon-position-only {
  min-width: var(--cnvs-sys-size-lg, 3rem);
}


.cnvs-button.size-large.icon-position-start {
  padding-inline-start: var(--cnvs-sys-padding-xl, var(--cnvs-sys-space-x6));
  padding-inline-end: var(--cnvs-sys-padding-xxl, var(--cnvs-sys-space-x8));
}


.cnvs-button.size-large.icon-position-end {
  padding-inline-start: var(--cnvs-sys-padding-xxl, var(--cnvs-sys-space-x8));
  padding-inline-end: var(--cnvs-sys-padding-xl, var(--cnvs-sys-space-x6));
}


.cnvs-button.size-medium.icon-position-only {
  min-width: var(--cnvs-sys-size-md, var(--cnvs-sys-space-x10));
}


.cnvs-button.size-medium.icon-position-start {
  padding-inline-start: var(--cnvs-sys-padding-lg, 1.25rem);
  padding-inline-end: var(--cnvs-sys-padding-xl, var(--cnvs-sys-space-x6));
}


.cnvs-button.size-medium.icon-position-end {
  padding-inline-start: var(--cnvs-sys-padding-xl, var(--cnvs-sys-space-x6));
  padding-inline-end: var(--cnvs-sys-padding-lg, 1.25rem);
}


.cnvs-button.size-small.icon-position-only {
  min-width: var(--cnvs-sys-size-sm, var(--cnvs-sys-space-x8));
}


.cnvs-button.size-small.icon-position-start {
  padding-inline-start: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
  padding-inline-end: var(--cnvs-sys-padding-md, var(--cnvs-sys-space-x4));
}


.cnvs-button.size-small.icon-position-end {
  padding-inline-start: var(--cnvs-sys-padding-md, var(--cnvs-sys-space-x4));
  padding-inline-end: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
}


.cnvs-button.size-extraSmall.icon-position-only {
  min-width: var(--cnvs-sys-size-xs, var(--cnvs-sys-space-x6));
}


.cnvs-button.size-extraSmall.icon-position-start {
  padding-inline-start: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
  padding-inline-end: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
}


.cnvs-button.size-extraSmall.icon-position-end {
  padding-inline-start: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
  padding-inline-end: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
}


.cnvs-delete-button {
  box-sizing: border-box;
  --cnvs-button-background: var(--cnvs-sys-color-brand-accent-critical, var(--cnvs-brand-error-base));
  --cnvs-button-border-radius: var(--cnvs-sys-shape-full, var(--cnvs-sys-shape-round));
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-error-accent));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-error-accent)));
}

.cnvs-delete-button:focus-visible, .cnvs-delete-button.focus {
  --cnvs-button-background: var(--cnvs-sys-color-brand-accent-critical, var(--cnvs-brand-error-base));
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-error-accent));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-focus-icon, var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-error-accent)));
  --cnvs-button-box-shadow-inner: var(--cnvs-sys-color-focus-inverse, var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0)));
  --cnvs-button-box-shadow-outer: var(--cnvs-sys-color-brand-focus-primary, var(--cnvs-brand-common-focus-outline));
}

.cnvs-delete-button:hover, .cnvs-delete-button.hover {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-brand-accent-critical, var(--cnvs-brand-error-dark)) , var(--cnvs-sys-color-accent-overlay-mixin, black) calc(var(--cnvs-sys-opacity-accent-hover, 0) * 100%));
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-error-accent));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-hover-icon, var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-error-accent)));
}

.cnvs-delete-button:active, .cnvs-delete-button.active {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-brand-accent-critical, var(--cnvs-brand-error-darkest)) , var(--cnvs-sys-color-accent-overlay-mixin, black) calc(var(--cnvs-sys-opacity-accent-pressed, 0) * 100%));
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-error-accent));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-active-icon, var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-error-accent)));
}

.cnvs-delete-button:disabled, .cnvs-delete-button.disabled {
  --cnvs-button-opacity: var(--cnvs-sys-opacity-disabled);
  --cnvs-button-background: var(--cnvs-sys-color-brand-accent-critical, var(--cnvs-brand-error-base));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-disabled-icon, var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-error-accent)));
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-error-accent));
}


.cnvs-secondary-button {
  box-sizing: border-box;
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-default));
  --cnvs-button-border-radius: var(--cnvs-sys-shape-full, var(--cnvs-sys-shape-round));
  --cnvs-button-border: var(--cnvs-sys-color-border-input-default);
  --cnvs-button-label: var(--cnvs-sys-color-fg-default, var(--cnvs-sys-color-fg-strong));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}

.cnvs-secondary-button:focus-visible, .cnvs-secondary-button.focus {
  --cnvs-button-background: var(--cnvs-sys-color-surface-default, var(--cnvs-sys-color-bg-default));
  --cnvs-button-label: var(--cnvs-sys-color-fg-strong, var(--cnvs-sys-color-fg-stronger));
  --cnvs-button-box-shadow-inner: var(--cnvs-sys-color-focus-inverse, var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0)));
  --cnvs-button-box-shadow-outer: var(--cnvs-sys-color-brand-focus-primary, var(--cnvs-brand-common-focus-outline));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-focus-icon, currentColor);
}

.cnvs-secondary-button:hover, .cnvs-secondary-button.hover {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-base-palette-slate-100)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-hover, 0) * 100%));
  --cnvs-button-label: var(--cnvs-sys-color-fg-strong, var(--cnvs-sys-color-fg-stronger));
  --cnvs-button-border: var(--cnvs-sys-color-border-input-hover, var(--cnvs-sys-color-border-input-strong));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-hover-icon, currentColor);
}

.cnvs-secondary-button:active, .cnvs-secondary-button.active {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-alt-strong)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-pressed, 0) * 100%));
  --cnvs-button-label: var(--cnvs-sys-color-fg-strong, var(--cnvs-sys-color-fg-stronger));
  --cnvs-button-border: var(--cnvs-sys-color-border-input-hover, var(--cnvs-sys-color-border-input-strong));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-active-icon, currentColor);
}

.cnvs-secondary-button:disabled, .cnvs-secondary-button.disabled {
  --cnvs-button-opacity: var(--cnvs-sys-opacity-disabled);
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-default));
  --cnvs-button-label: var(--cnvs-sys-color-fg-default, var(--cnvs-sys-color-fg-strong));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}


.cnvs-secondary-button.variant-inverse {
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, transparent);
  --cnvs-button-border: var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0));
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}

.cnvs-secondary-button.variant-inverse:hover, .cnvs-secondary-button.variant-inverse.hover {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-strong)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-hover, 0) * 100%));
  --cnvs-button-border: var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0));
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-hover-icon, currentColor);
}

.cnvs-secondary-button.variant-inverse:focus-visible, .cnvs-secondary-button.variant-inverse.focus {
  --cnvs-button-background: var(--cnvs-sys-color-surface-inverse, var(--cnvs-sys-color-bg-translucent));
  --cnvs-button-border: var(--cnvs-sys-color-border-transparent, transparent);
  --cnvs-button-label: var(--cnvs-sys-color-fg-contrast-default, var(--cnvs-sys-color-fg-inverse));
  --cnvs-button-box-shadow-inner: var(--cnvs-sys-color-border-contrast-default);
  --cnvs-button-box-shadow-outer: var(--cnvs-sys-color-focus-inverse, var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0)));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-focus-icon, currentColor);
}

.cnvs-secondary-button.variant-inverse:active, .cnvs-secondary-button.variant-inverse.active {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-stronger)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-pressed, 0) * 100%));
  --cnvs-button-border: var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0));
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-active-icon, currentColor);
}

.cnvs-secondary-button.variant-inverse:disabled, .cnvs-secondary-button.variant-inverse.disabled {
  --cnvs-button-opacity: var(--cnvs-sys-opacity-disabled);
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, transparent);
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}


.cnvs-primary-button {
  box-sizing: border-box;
  --cnvs-button-background: var(--cnvs-brand-action-base, var(--cnvs-sys-color-brand-accent-primary, var(--cnvs-brand-primary-base)));
  --cnvs-button-border-radius: var(--cnvs-sys-shape-full, var(--cnvs-sys-shape-round));
  --cnvs-button-label: var(--cnvs-brand-action-accent, var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-primary-accent)));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}

.cnvs-primary-button:focus-visible, .cnvs-primary-button.focus {
  --cnvs-button-background: var(--cnvs-brand-action-base, var(--cnvs-sys-color-brand-accent-primary, var(--cnvs-brand-primary-base)));
  --cnvs-button-label: var(--cnvs-brand-action-accent, var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-primary-accent)));
  --cnvs-button-box-shadow-inner: var(--cnvs-sys-color-focus-inverse, var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0)));
  --cnvs-button-box-shadow-outer: var(--cnvs-sys-color-brand-focus-primary, var(--cnvs-brand-common-focus-outline));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-focus-icon, currentColor);
}

.cnvs-primary-button:hover, .cnvs-primary-button.hover {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-brand-action-base, var(--cnvs-sys-color-brand-accent-primary, var(--cnvs-brand-action-dark, var(--cnvs-brand-primary-dark)))) , var(--cnvs-sys-color-accent-overlay-mixin, black) calc(var(--cnvs-sys-opacity-accent-hover, 0) * 100%));
  --cnvs-button-label: var(--cnvs-brand-action-accent, var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-primary-accent)));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-hover-icon, currentColor);
}

.cnvs-primary-button:active, .cnvs-primary-button.active {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-brand-action-base, var(--cnvs-sys-color-brand-accent-primary, var(--cnvs-brand-action-darkest, var(--cnvs-brand-primary-darkest)))) , var(--cnvs-sys-color-accent-overlay-mixin, black) calc(var(--cnvs-sys-opacity-accent-pressed, 0) * 100%));
  --cnvs-button-label: var(--cnvs-brand-action-accent, var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-primary-accent)));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-active-icon, currentColor);
}

.cnvs-primary-button:disabled, .cnvs-primary-button.disabled {
  --cnvs-button-opacity: var(--cnvs-sys-opacity-disabled);
  --cnvs-button-background: var(--cnvs-brand-action-base, var(--cnvs-sys-color-brand-accent-primary, var(--cnvs-brand-primary-base)));
  --cnvs-button-label: var(--cnvs-brand-action-accent, var(--cnvs-sys-color-fg-inverse, var(--cnvs-brand-primary-accent)));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}


.cnvs-primary-button.variant-inverse {
  --cnvs-button-background: var(--cnvs-brand-action-lightest, var(--cnvs-sys-color-surface-inverse, var(--cnvs-brand-primary-lightest)));
  --cnvs-button-border-radius: var(--cnvs-sys-shape-full, var(--cnvs-sys-shape-round));
  --cnvs-button-label: var(--cnvs-sys-color-fg-strong);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}

.cnvs-primary-button.variant-inverse:hover, .cnvs-primary-button.variant-inverse.hover {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-brand-action-lightest, var(--cnvs-sys-color-surface-inverse, var(--cnvs-brand-action-lighter, var(--cnvs-brand-primary-lighter)))) , var(--cnvs-sys-color-accent-overlay-mixin, black) calc(var(--cnvs-sys-opacity-accent-hover, 0) * 100%));
  --cnvs-button-label: var(--cnvs-sys-color-fg-stronger);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-hover-icon, currentColor);
}

.cnvs-primary-button.variant-inverse:focus-visible, .cnvs-primary-button.variant-inverse.focus {
  --cnvs-button-background: var(--cnvs-brand-action-lightest, var(--cnvs-sys-color-surface-inverse, var(--cnvs-brand-action-lightest, var(--cnvs-brand-primary-lightest))));
  --cnvs-button-label: var(--cnvs-sys-color-fg-strong);
  --cnvs-button-box-shadow-inner: var(--cnvs-sys-color-border-contrast-default);
  --cnvs-button-box-shadow-outer: var(--cnvs-sys-color-focus-inverse, var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0)));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-focus-icon, currentColor);
}

.cnvs-primary-button.variant-inverse:active, .cnvs-primary-button.variant-inverse.active {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-brand-action-lightest, var(--cnvs-sys-color-surface-inverse, var(--cnvs-brand-action-light, var(--cnvs-brand-primary-light)))) , var(--cnvs-sys-color-accent-overlay-mixin, black) calc(var(--cnvs-sys-opacity-accent-pressed, 0) * 100%));
  --cnvs-button-label: var(--cnvs-sys-color-fg-stronger);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-active-icon, currentColor);
}

.cnvs-primary-button.variant-inverse:disabled, .cnvs-primary-button.variant-inverse.disabled {
  --cnvs-button-opacity: var(--cnvs-sys-opacity-disabled);
  --cnvs-button-background: var(--cnvs-brand-action-lightest, var(--cnvs-sys-color-surface-inverse, var(--cnvs-brand-primary-lightest)));
  --cnvs-button-label: var(--cnvs-sys-color-fg-strong);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-disabled-icon, currentColor);
}


.cnvs-toolbar-dropdown-button {
  box-sizing: border-box;
  padding: 0;
  min-width: var(--cnvs-sys-size-sm, var(--cnvs-sys-space-x8));
  gap: 0;
  --cnvs-button-border-radius: var(--cnvs-sys-shape-sm, var(--cnvs-sys-shape-x1));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, var(--cnvs-sys-color-fg-default, var(--cnvs-sys-color-fg-muted-soft)));
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-default));
}

.cnvs-toolbar-dropdown-button:focus-visible, .cnvs-toolbar-dropdown-button.focus {
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-default));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-focus-icon, var(--cnvs-sys-color-fg-strong, var(--cnvs-sys-color-fg-muted-soft)));
  box-shadow: 0 0 0 0px var(--cnvs-sys-color-focus-inverse, var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0))),0 0 0 2px var(--cnvs-sys-color-brand-focus-primary, var(--cnvs-brand-common-focus-outline));
}

.cnvs-toolbar-dropdown-button:hover, .cnvs-toolbar-dropdown-button.hover {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-alt-default)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-hover, 0) * 100%));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-hover-icon, var(--cnvs-sys-color-fg-default, var(--cnvs-sys-color-fg-muted-soft)));
}

.cnvs-toolbar-dropdown-button:active, .cnvs-toolbar-dropdown-button.active {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-alt-stronger)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-pressed, 0) * 100%));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-active-icon, var(--cnvs-sys-color-fg-strong, var(--cnvs-sys-color-fg-muted-stronger)));
}

.cnvs-toolbar-dropdown-button:disabled, .cnvs-toolbar-dropdown-button.disabled {
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, transparent);
  --cnvs-button-opacity: var(--cnvs-sys-opacity-disabled);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-disabled-icon, var(--cnvs-sys-color-fg-default, var(--cnvs-sys-color-fg-muted-soft)));
}

.cnvs-toolbar-dropdown-button [data-part="toolbar-dropdown-btn-custom-icon"] {
  margin-inline-start: var(--cnvs-sys-padding-xxs, var(--cnvs-sys-space-x1));
  margin-inline-end: calc(0.125rem * -1);
}

.cnvs-toolbar-dropdown-button [data-part="toolbar-dropdown-btn-arrow"] {
  margin: 0;
  margin-inline-end: 0.125rem;
}


.cnvs-toolbar-dropdown-button.should-mirror-icon [data-part="toolbar-dropdown-btn-custom-icon"] {
  margin-inline-end: 0;
  margin-inline-start: 0.125rem;
}


.cnvs-toolbar-dropdown-button.should-mirror-icon-in-r-t-l:dir(rtl) [data-part="toolbar-dropdown-btn-custom-icon"] {
  margin-inline-end: 0;
  margin-inline-start: 0.125rem;
}


.cnvs-toolbar-icon-button {
  box-sizing: border-box;
  min-width: var(--cnvs-sys-size-sm, var(--cnvs-sys-space-x8));
  padding: 0;
  height: var(--cnvs-sys-size-sm, var(--cnvs-sys-space-x8));
  --cnvs-button-border-radius: var(--cnvs-sys-shape-sm, var(--cnvs-sys-shape-x1));
  --cnvs-system-icon-color: var(--cnvs-sys-color-fg-default, var(--cnvs-sys-color-fg-muted-soft));
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-default));
}

.cnvs-toolbar-icon-button:focus-visible, .cnvs-toolbar-icon-button.focus {
  --cnvs-system-icon-color: var(--cnvs-sys-color-fg-strong, var(--cnvs-sys-color-fg-muted-soft));
  box-shadow: 0 0 0 0px var(--cnvs-sys-color-border-transparent),0 0 0 2px var(--cnvs-sys-color-brand-focus-primary, var(--cnvs-brand-common-focus-outline));
}

.cnvs-toolbar-icon-button:hover, .cnvs-toolbar-icon-button.hover {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-alt-default)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-hover, 0) * 100%));
  --cnvs-system-icon-color: var(--cnvs-sys-color-fg-strong, var(--cnvs-sys-color-fg-muted-stronger));
}

.cnvs-toolbar-icon-button:active, .cnvs-toolbar-icon-button.active {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-alt-stronger)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-pressed, 0) * 100%));
  --cnvs-system-icon-color: var(--cnvs-sys-color-fg-strong, var(--cnvs-sys-color-fg-muted-stronger));
}

.cnvs-toolbar-icon-button:disabled, .cnvs-toolbar-icon-button.disabled {
  --cnvs-button-opacity: var(--cnvs-sys-opacity-disabled);
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, transparent);
  --cnvs-system-icon-color: var(--cnvs-sys-color-fg-default, var(--cnvs-sys-color-fg-disabled));
}

.cnvs-toolbar-icon-button[aria-pressed='true'] {
  --cnvs-system-icon-color: var(--cnvs-sys-color-brand-fg-primary-default, var(--cnvs-brand-primary-base));
  --cnvs-button-background: var(--cnvs-sys-color-brand-surface-primary-default, var(--cnvs-brand-primary-lightest));
}

.cnvs-toolbar-icon-button[aria-pressed='true']:focus-visible, .cnvs-toolbar-icon-button[aria-pressed='true'].focus {
  --cnvs-system-icon-color: var(--cnvs-sys-color-brand-fg-primary-strong, var(--cnvs-brand-primary-dark));
}

.cnvs-toolbar-icon-button[aria-pressed='true']:hover, .cnvs-toolbar-icon-button[aria-pressed='true'].hover {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-brand-surface-primary-default, var(--cnvs-sys-color-bg-alt-default)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-hover, 0) * 100%));
  --cnvs-system-icon-color: var(--cnvs-sys-color-brand-fg-primary-strong, var(--cnvs-brand-primary-dark));
}

.cnvs-toolbar-icon-button[aria-pressed='true']:active, .cnvs-toolbar-icon-button[aria-pressed='true'].active {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-brand-surface-primary-default, var(--cnvs-sys-color-bg-alt-stronger)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-pressed, 0) * 100%));
  --cnvs-system-icon-color: var(--cnvs-sys-color-brand-fg-primary-strong, var(--cnvs-brand-primary-dark));
}


.cnvs-tertiary-button {
  box-sizing: border-box;
  padding-inline: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
  min-width: auto;
  border-width: 0.125rem;
  --cnvs-button-border-radius: var(--cnvs-sys-shape-full, var(--cnvs-sys-shape-round));
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-default));
  --cnvs-button-label: var(--cnvs-sys-color-fg-default, var(--cnvs-brand-primary-base));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}

.cnvs-tertiary-button:focus-visible, .cnvs-tertiary-button.focus {
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-default));
  --cnvs-button-label: var(--cnvs-sys-color-fg-contrast-default, var(--cnvs-sys-color-fg-inverse));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-focus-icon, currentColor);
  --cnvs-button-border: var(--cnvs-sys-color-border-transparent, transparent);
  box-shadow: 0 0 0 0px var(--cnvs-sys-color-focus-inverse, var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0))),0 0 0 2px var(--cnvs-sys-color-brand-focus-primary, var(--cnvs-brand-common-focus-outline));
}

.cnvs-tertiary-button:hover, .cnvs-tertiary-button.hover {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-alt-soft)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-hover, 0) * 100%));
  --cnvs-button-label: var(--cnvs-sys-color-fg-strong, var(--cnvs-brand-primary-dark));
  --cnvs-system-icon-color: var(--cnvs-sys-color-fg-strong, var(--cnvs-button-color-prop-hover-icon, currentColor));
  text-decoration: underline;
}

.cnvs-tertiary-button:active, .cnvs-tertiary-button.active {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-alt-default)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-pressed, 0) * 100%));
  --cnvs-button-label: var(--cnvs-sys-color-fg-strong, var(--cnvs-brand-primary-dark));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-active-icon, currentColor);
  text-decoration: underline;
}

.cnvs-tertiary-button:disabled, .cnvs-tertiary-button.disabled {
  --cnvs-button-opacity: var(--cnvs-sys-opacity-disabled);
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-default));
  --cnvs-button-label: var(--cnvs-sys-color-fg-default, var(--cnvs-brand-primary-base));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}


.cnvs-tertiary-button.icon-position-only {
  padding: 0;
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, var(--cnvs-sys-color-fg-default, var(--cnvs-sys-color-fg-strong)));
}

.cnvs-tertiary-button.icon-position-only:focus-visible, .cnvs-tertiary-button.icon-position-only.focus {
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-focus-icon, var(--cnvs-sys-color-fg-strong));
}

.cnvs-tertiary-button.icon-position-only:hover, .cnvs-tertiary-button.icon-position-only.hover {
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-hover-icon, var(--cnvs-sys-color-fg-strong));
}

.cnvs-tertiary-button.icon-position-only:active, .cnvs-tertiary-button.icon-position-only.active {
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-active-icon, var(--cnvs-sys-color-fg-strong));
}

.cnvs-tertiary-button.icon-position-only:disabled, .cnvs-tertiary-button.icon-position-only.disabled {
  --cnvs-button-opacity: var(--cnvs-sys-opacity-disabled);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-disabled-icon, var(--cnvs-sys-color-fg-default));
}




.cnvs-tertiary-button.variant-inverse {
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, transparent);
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}

.cnvs-tertiary-button.variant-inverse:hover, .cnvs-tertiary-button.variant-inverse.hover {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-strong)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-hover, 0) * 100%));
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-hover-icon, currentColor);
}

.cnvs-tertiary-button.variant-inverse:focus-visible, .cnvs-tertiary-button.variant-inverse.focus {
  --cnvs-button-background: var(--cnvs-sys-color-surface-inverse, var(--cnvs-sys-color-bg-translucent));
  --cnvs-button-label: var(--cnvs-sys-color-fg-contrast-default, var(--cnvs-sys-color-fg-inverse));
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-focus-icon, currentColor);
  box-shadow: 0 0 0 2px var(--cnvs-sys-color-border-contrast-default),0 0 0 4px var(--cnvs-sys-color-focus-inverse, var(--cnvs-sys-color-border-inverse-default, var(--cnvs-base-palette-neutral-0)));
}

.cnvs-tertiary-button.variant-inverse:active, .cnvs-tertiary-button.variant-inverse.active {
  --cnvs-button-background: color-mix(in srgb, var(--cnvs-sys-color-surface-transparent, var(--cnvs-sys-color-bg-transparent-stronger)) , var(--cnvs-sys-color-surface-overlay-mixin, black) calc(var(--cnvs-sys-opacity-surface-pressed, 0) * 100%));
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-active-icon, currentColor);
}

.cnvs-tertiary-button.variant-inverse:disabled, .cnvs-tertiary-button.variant-inverse.disabled {
  --cnvs-button-opacity: var(--cnvs-sys-opacity-disabled);
  --cnvs-button-background: var(--cnvs-sys-color-surface-transparent, transparent);
  --cnvs-button-label: var(--cnvs-sys-color-fg-inverse);
  --cnvs-system-icon-color: var(--cnvs-button-color-prop-default-icon, currentColor);
}


.cnvs-tertiary-button.size-large.icon-position-only {
  min-width: var(--cnvs-sys-size-lg, 3rem);
}


.cnvs-tertiary-button.size-large.icon-position-start {
  padding-inline-start: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
  padding-inline-end: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
}


.cnvs-tertiary-button.size-large.icon-position-end {
  padding-inline-start: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
  padding-inline-end: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
}


.cnvs-tertiary-button.size-medium.icon-position-only {
  min-width: var(--cnvs-sys-size-md, var(--cnvs-sys-space-x10));
}


.cnvs-tertiary-button.size-medium.icon-position-start {
  padding-inline-start: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
  padding-inline-end: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
}


.cnvs-tertiary-button.size-medium.icon-position-end {
  padding-inline-start: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
  padding-inline-end: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
}


.cnvs-tertiary-button.size-small.icon-position-only {
  min-width: var(--cnvs-sys-size-sm, var(--cnvs-sys-space-x8));
}


.cnvs-tertiary-button.size-small.icon-position-start {
  padding-inline-start: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
  padding-inline-end: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
}


.cnvs-tertiary-button.size-small.icon-position-end {
  padding-inline-start: var(--cnvs-sys-padding-sm, var(--cnvs-sys-space-x3));
  padding-inline-end: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
}


.cnvs-tertiary-button.size-extraSmall.icon-position-only {
  min-width: var(--cnvs-sys-size-xs, var(--cnvs-sys-space-x6));
}


.cnvs-tertiary-button.size-extraSmall.icon-position-start {
  padding-inline-start: var(--cnvs-sys-padding-xxs, var(--cnvs-sys-space-x1));
  padding-inline-end: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
}


.cnvs-tertiary-button.size-extraSmall.icon-position-end {
  padding-inline-start: var(--cnvs-sys-padding-xs, var(--cnvs-sys-space-x2));
  padding-inline-end: var(--cnvs-sys-padding-xxs, var(--cnvs-sys-space-x1));
}

