.cnvs-svg {
  box-sizing: border-box;
  display: inline-block;
}

.cnvs-svg >svg {
  display: block;
  width: var(--cnvs-svg-width, var(--cnvs-svg-size));
  height: var(--cnvs-svg-height, var(--cnvs-svg-size));
}


.cnvs-svg.should-mirror {
  transform: scaleX(-1);
}


.cnvs-svg.should-mirror-in-r-t-l:dir(rtl) {
  transform: scaleX(-1);
}


.cnvs-system-icon {
  box-sizing: border-box;
}

.cnvs-system-icon svg {
  width: var(--cnvs-svg-width, var(--cnvs-svg-size, var(--cnvs-sys-space-x6)));
  height: var(--cnvs-svg-height, var(--cnvs-svg-size, var(--cnvs-sys-space-x6)));
}

.cnvs-system-icon .wd-icon-fill {
  fill: var(--cnvs-system-icon-color, var(--cnvs-sys-color-icon-default));
}

.cnvs-system-icon .wd-icon-accent, .cnvs-system-icon .wd-icon-accent2 {
  fill: var(--cnvs-system-icon-accent-color, var(--cnvs-system-icon-color, var(--cnvs-sys-color-fg-default)));
}

.cnvs-system-icon .wd-icon-background {
  fill: var(--cnvs-system-icon-background-color, transparent);
}

.cnvs-system-icon:where(:hover, .hover) .wd-icon-fill {
  fill: var(--cnvs-deprecated-system-icon-fill-hover, var(--cnvs-deprecated-system-icon-color-hover, var(--cnvs-system-icon-color, var(--cnvs-sys-color-fg-default))));
}

.cnvs-system-icon:where(:hover, .hover) .wd-icon-accent, .cnvs-system-icon .wd-icon-accent2 {
  fill: var(--cnvs-deprecated-system-icon-accent-hover, var(--cnvs-deprecated-system-icon-color-hover, var(--cnvs-system-icon-accent-color, var(--cnvs-system-icon-color, var(--cnvs-sys-color-fg-default)))));
}

.cnvs-system-icon:where(:hover, .hover) .wd-icon-background {
  fill: var(--cnvs-deprecated-system-icon-background-hover, var(--cnvs-system-icon-background-color, transparent));
}

@media (prefers-contrast: more) {
.cnvs-system-icon .wd-icon-fill, .cnvs-system-icon .wd-icon-accent {
  color: currentColor;
  fill: currentColor;
}


}


.cnvs-system-icon-circle {
  box-sizing: border-box;
  background: var(--cnvs-system-icon-circle-background, var(--cnvs-sys-color-bg-alt-soft));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--cnvs-sys-space-zero);
  border: none;
  border-radius: var(--cnvs-sys-shape-round);
  overflow: hidden;
  width: var(--cnvs-system-icon-circle-container-size, var(--cnvs-sys-space-x10));
  height: var(--cnvs-system-icon-circle-container-size, var(--cnvs-sys-space-x10));
  --cnvs-svg-size: calc(var(--cnvs-system-icon-circle-container-size, var(--cnvs-sys-space-x10)) * 0.625);
  --cnvs-system-icon-color: var(--cnvs-system-icon-circle-color);
}

.cnvs-system-icon-circle img {
  width: 100%;
  height: 100%;
}

